
body {
    background-image: linear-gradient(to right top, #2b3333, #003947, #003c66, #003781, #3b2289);
    color: white;
}
.mmy{
margin-left:50%;
}

.last{
    text-align:centre;
}


.kj{
    margin-left: 50%;
 padding-top: 1rem;
 font-size: 3rem;
    
}

