body{
    background:#191d24;
    color: white;
}

.kj{
    margin-left: 50%;
 padding-top: 1rem;
 font-size: 3rem;
    
}
.last{
    margin-left: 10rem;
    font-weight: bolder;
    font-size: 1.3rem;
}